{% extends 'base.html.twig' %}

{% block title "FlickrBundle Demo" %}
{% block page_header "FlickrBundle Demo" %}

{% block body %}

    {% for album in albums %}
{#        {{ loop.first ? dump(album) }}#}

        {% set url = flickrAlbumUrl(album) %}
        {% set thumbUrl = flickrThumbnailUrl({id: album.primary, server:album.server, secret: album.secret}, size='s') %}
        <twig:card :image="thumbUrl" h="400">
            <twig:block name="title">
                <a href="{{ url }}" target="_blank">
                    <twig:ux:icon name="logos:flickr-icon" />
                    {{ album.title }}
                    <br />{{ album.photos }} photos on Flickr
                </a>
                <br />

                <a href="{{ path('flickr_list', {userId: album.owner, photosetId: album.id}) }}">
                    <twig:ux:icon name="tabler:list" class=" text-muted"/>
                    List
                </a>
            </twig:block>
            <twig:block name="card_body">
            </twig:block>
            <twig:block name="links">
{#                flickr.com#}
            </twig:block>
            <twig:block name="text">
                {{ album.description }}
            </twig:block>

        </twig:card>
{#        <figure class="figure">#}
{#            <a href="{{ url }}" target="_blank">#}
{#                {{ url }}#}

{#            <img src="{{ thumbUrl }}" class="figure-img img-fluid rounded" alt="...">#}
{#            </a>#}
{#            <figcaption class="figure-caption text-end">#}
{#                {{ album.title }}#}
{#                {{ album.description }}#}
{#            </figcaption>#}
{#        </figure>#}


    {% endfor %}
{% endblock %}
