{% extends "base.html.twig" %}

{% block body %}

    {% set user = app.user %}
    {{ app.user.email }}

    {% if user.flickrKey %}

        Your Flickr account is linked.
        {{ user.flickrUserId }}
        {{ user.flickrUsername }}
        <h3>
            {{ groups.groups.group|length }} Groups
        </h3>
        <table>

        {% for group in groups.groups.group %}
            <tr>
                <td>
                    <a target="_blank" href="https://flickr.com/groups/{{ group.nsid }}">
                        {#                    {{ group.nsid }} #}
                        {{ group.name }}
                    </a>
                </td>
                <td>
                    {{ group.eighteenplus ? '18+' }}
                </td>
            </tr>
        {% endfor %}
        </table>

        <h3>
            {{ albums.total }} Albums
        </h3>
        <table>
        {% for album in albums.photoset %}
            <tr>
                <td>

                <a target="_blank" href="https://www.flickr.com/photos/{{ album.username }}/albums/{{ album.id }}">
                    {#                    {{ group.nsid }} #}
                    {{ album.title }}
                </td>
                <td>

                    <i>
                        {{ album.description }}
                    </i>
                </a>
                </td>
            </tr>
        {% endfor %}
        </table>

        Your most recent photo:
    {% else %}
        <a href="{{ flickr_auth_url|default(path('flickr_login')) }}">
            Link your Flickr account.
        </a>
    {% endif %}

{% endblock %}
